<h1>Organizations</h1>

<ul>
    <% @organizations.each do |organization| %>
        <li>
            <%= organization.name %> <%= link_to "Edit", edit_user_organization_path(current_user.id, organization) %>
        </li>
    <%end%>
</ul>
